# MongoDB
MONGODB_CONTAINER_NAME=mongodb
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE_NAME=incidenciapp_dev

# Mongo Express
MONGO_EXPRESS_CONTAINER_NAME=mongo-express
ME_CONFIG_BASICAUTH=true
ME_CONFIG_BASICAUTH_USERNAME=admin123
ME_CONFIG_BASICAUTH_PASSWORD=example123
ME_CONFIG_MONGODB_URL=mongodb://admin:example@mongodb:27017/